input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    margin-top: 20px;
    background-color: #0000;
    display: flex;
    width: 20px;
    text-align: center;
  }
  .container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-left: 3px solid rgb(131, 123, 123);
    border-right: 3px solid rgb(131, 123, 123);
    width: 400px;
    height: 400px;
    margin-top: 60px;
}

.inputbox{
  display: flex;
  justify-content: space-evenly;

}
.linkbutton{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

h3{
  margin-bottom: 30px;
}
span{
  margin-top: 40px;
}
p{
  margin-top: 20px;
}
h2{
    margin-top: 30px;
}
.btn-active{
    border-radius: 20px;
}
.underline{
    text-decoration: none;
}